/* DEFAULTS
----------------------------------------------------------*/

body
{
    min-width: 900px;
	font-size: 14px;
	color: #000;
	background-color: #fff;
    font-weight: 600;
    margin: 0;
    min-height: 500px;
}

a:link, a:visited
{
    color: #fff;
    text-decoration: none;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #fff;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
    margin-left: 40px;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page 
{
    
    background-color: #fff;
    
}

.header
{
    z-index:100;
	top: 0px;
	left: 0px;
	position: fixed;
	padding: 10px;
	margin-top: 0px;
	font-size: 100%;
	background-color: rgba(25, 23, 31, 0.84);
	width: 100%;
	color: #fff;
}

.title
{
    float : left;  
    padding: 10px;
}

.menu
{
    color: #fff;
    display: inline;
    margin-left: 25%;
    width: 400px;
    font-size: 1.4em;
    line-height: 3em;
}

.menu a{
	padding: 10px;
	text-decoration: none;
	color: #fff;
}

.menu a:hover , .per-menu a:hover{
   color: #B4CDCE;
   font-size: 1.1em;
}

.header h1
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    font-weight: normal;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    font-size: 2em;
    height: 40px;
}



.main
{
    position: relative;
    padding: 0px 12px;
    margin-top: 100px;
    height: 505px;
   
}


.footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
	font-size: 1.1em;
    font-weight: 300;
	padding: 10px;
	background-color: rgba(25, 23, 31, 0.84);
	width: 100%;
	color: #fff;
}

 .clear
{
    width: 400px;
    margin-left: 111px;
}


#foot-menu{

	display: inline;
	margin-left: 10%;
	width: 400px;
}

#foot-menu a{
	padding: 10px;
	text-decoration: none;
	color: #fff;
}



/* -------------- dEFAULT paGE  */

.login
{
    padding: 20px;
    font-weight: bold;
    font-size: 1.3em;
    width: 300px;
    height: 160px;
    left: 25em;
    top: 4em;
    position: absolute;
    border: 2px solid #000;
    border-radius: 10px;
}

.logbut{
    position: absolute;
left: 7em;
top: 8.4em;
border-radius: 4px;
border: solid 2px #000;
font-size: 1.0em;
font-weight: bold;
}

.logbut:hover
{
    border: 2px solid #000;color:#000;
    border-radius: 10px;
}

p.submitButton {
    margin-left: 30em;
    margin-top: 15em;
}

.def-menu
{
    color: #fff;
    display: inline;
    margin-left: 25%;
    width: 400px;
    font-size: 1.4em;
    line-height: 3em;
}

.def-menu a{
	padding: 10px;
	text-decoration: none;
	color: #fff;
}


#def_left{ float : left;
           margin: 0px 10px 0px 50px;
           
}

.cat 
{
    margin: 25px;
    width: 240px;
}

.catbutton {
    font-size: 1.5em;
    border : 2px solid #000;
    border-radius: 4px;
     
    
}

.catbutton:hover{ 
    border : 2px solid #552899 ;
    font-size: 1.56em;
    color: rgba(25, 23, 31, 0.95);


}

#def_right
{   padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    margin: 20px 30px 0px 400px;
    border: 2px solid #000;
    border-radius: 20px; 
}

#cat_result
{
    display: none;
    width: 50%;
    position: absolute;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    top: 5%;
    right: 10%;
    border: 2px solid #000;
    
 }
 
 /*--------------- login CSS ------- */
 
 .logpage
 {
    float: left;
    background : #000;
    height: 550px;
    width: 100px;
  }
 
 .loginstatus{
     position: absolute;
    top: 1em;
    left: 25em;
    font-size: 1.4em;
    color: #2D8B7C;
 }
 
 
/* -------- User - signup CSS --- */


.signhead 
{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    position:absolute;
    top: -50px;
    left: 7em;
}

.personal
{
    padding: 16px;
    border : 1px solid #000;
    border-radius: 5px;
    position: absolute;
    font-size: 1.3em;
    top: 2em;
    left: 15em;
    width: 900px;
}

.user-notify {
    font-size:1.5em;
    position: absolute;
    color: #1d60ff;
    top: 0em;
    right: 8em;
}

/* -------- recr - signup CSS --- */

.recrsign
{   border: 1px solid #000;
    border-radius: 8px;
    line-height: .75em;
    font-size: 1.3em;
    position: relative;
    margin-left: 30em;
    width: 700px;
    padding: 5px 0px 0px 40px;
}

.rec-notify {
    font-size:1.5em;
    position: absolute;
    color: #1d60ff;
    top: 8em;
    left: 2em;


}

/* ------------- user page CSS ----- */
.logout
{
    border-radius: 4px;
    border: solid 2px #000;
    font-size: 1.2em;
    font-weight: bold;
}

.logout:hover
{
    border: 2px solid #000;color:#000;
    border-radius: 10px;
}


.editprofile
{
    display : none;
    position: absolute;
    border : 1px solid #000;
    top: 100px;
    left: 70px;
    height: 294px;
    width: 744px;
}

#hotjobs
{
    display: block;
    margin-left: 80px;
    padding: 10px 20px 10px 20px;
    padding: 10px;
    width: 50%;
    height: auto;
    border: 1px solid #000;
    font-size: 1.4em;
 }

.userinfo
{
    width: 30%;
    position: absolute;
    top: 5em;
    right: 3em;
    border: 1px solid #000;
    padding: 10px;
    font-size: 1.3em;

}

.update
{
    position: absolute;
    right: 2em;
    bottom: 1em;
    }
    
.update_but
{
    border-radius: 4px;
    border: solid 2px #000;
    font-size: 1.3em;
    font-weight: bold;

}

.update_but:hover
{
    border: 2px solid #000;color:#000;
    border-radius: 10px;
}

/* ------------- recruiter page CSS ----- */


.per-menu
{
    color: #fff;
    display: inline;
    margin-left: 25%;
    width: 400px;
    font-size: 1.4em;
    line-height: 3em;
}

.per-menu a{
	padding: 10px;
	text-decoration: none;
	color: #fff;
}

.rec-main
{
    padding: 10px;
    position: relative;
    margin: 100px 0px 100px;
    height: auto;
}

.rec-left{ float: left; }

.rec-dash{
   
   margin: 10px 0px 0px 100px;
   padding: 10px;
}


input[type="button"]:hover{
    border: 2px solid #000;color:#000;
    border-radius: 10px;
}

.yourjob, .jobuser
{
    border-radius: 4px;
    border: solid 2px #000;
    font-size: 1.5em;
    font-weight: bold;

}

.yourjob:hover , .jobuser:hover
{
    border: 2px solid #000;color:#000;
    border-radius: 10px;
}

.finish
{
    border-radius: 4px;
    border: solid 1px #000;
    font-size: 1em;
    font-weight: bold;

}

.finish:hover
{
    border: 2px solid #000;color:#000;
    border-radius: 8px;
}

#finish_job
{
    position: absolute;
    bottom: 2em;
    right: 15em;
}



#create_but , #edituser{ margin-left: 40px;
            font-size: 1.5em;
            font-weight: bold;
            border-radius: 4px;
          }
          
#recjob   
{
   
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    width: 55%;
    margin-left: 2em;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1em;
    padding: 20px;
    height: 181px;
}
          
.createjob 
{
    left: 5em;
    display: none;
    position: absolute;
    font-size: 1.4em;
    font-weight: normal;
    height: 383px;
    width: 80%;
    top: 5em;
    padding: 1em;
    border-style: solid;
    border-color: rgba(25, 23, 31, 0.84);
    border-width: 1px;

}

.rec-right
{
    display : block;
    position: absolute;
    top: 1.4em;
    right: 2em;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 0.5em;
    border-style: solid;
    border-width: 2px;
    width: 30%;
    padding: 10px;
 
 }

#joburl {
    width: 300px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 144px;
}

/*--------------Apply page---------*/

.apply{
    position: absolute;
    top: 22em;
    right: 14em;
}

.status_apply{
    position:absolute;
    top: 2em;
    right: 8em;
}